/* ==========================================
RESET BOOTSTRAP
========================================== */

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*========================================
@MIXIN SETUP
========================================*/

@mixin transition ($all){
  transition: $all;
  -webkit-transition: $all;
  -moz-transition: $all;
  -o-transition: $all;
}

@mixin transform ($translate3d){
  transform: $translate3d;
  -webkit-transform: $translate3d;
  -moz-transform: $translate3d;
  -ms-transform: $translate3d;
  -o-transform: $translate3d;
}

@mixin background-size ($size){
  background-size: $size;
  -webkit-background-size: $size;
  -moz-background-size: $size;
  -o-background-size: $size;
}

@mixin shadow ($null){
  box-shadow: $null;
  -webkit-box-shadow: $null;
  -moz-box-shadow: $null;
}

/*========================================
@COLOR VARIABLE
========================================*/

$white        : #fff;
$blacksm      : #777;
$blacktext    : #222;
$black        : #000;
$bg           : #f6fafc;

$purple       : #5d328a;
$purple-hover : #654796;
$blue         : #5375d9;
$red          : #ea4335;

//BG
.bg_grey{ background-color: #fcfdfd; }

//BORDER
.b_left{ border-left: 1px solid #ddd;
  @media(max-width: 767px){
    border-left: 0;
  }
}
.b_bottom{ border-bottom: 1px solid #ddd; }

//COLOR
.c_greyblue{ color: #b0bec5; }

/*========================================
@FONT & ALIGN SETUP
========================================*/

.reg{ font-family: 'regular';font-weight: normal; }
.str,b,strong{ font-family: 'bold';font-weight: normal; }
.lgt{ font-family: 'light';font-weight: normal; }
.smb{ font-family: 'semibold'; font-weight: normal; }

.tau{ text-transform: uppercase; }
.tal{ text-align: left; }
.tac{ text-align: center; }
.tar{ text-align: right; }

.s120{ font-size: 120px; }
.s60{ font-size: 60px; }
.s48{ font-size: 48px; }
.s46{ font-size: 46px; }
.s42{ font-size: 42px; }
.s36{ font-size: 36px; }
.s34{ font-size: 34px; }
.s32{ font-size: 32px; }
.s28{ font-size: 28px; }
.s26{ font-size: 26px; }
.s24{ font-size: 24px; }
.s21{ font-size: 21px !important; line-height: 30px}
.s18{ font-size: 18px; line-height: 26px}
.s16{ font-size: 16px; line-height: 24px}
.s14{ font-size: 14px; line-height: 21px}
.s12{ font-size: 12px; line-height: 18px}
.s11{ font-size: 11px; }

.lh32{ line-height: 32px; }
.lh24{ line-height: 24px; }

label, .label {
  font-family: 'regular';
  font-weight: normal;
  margin: 0 0 10px !important;
  cursor: pointer;
  display: block;
}

hr{
  border-color: #cfd8dc;
  margin-bottom: 40px;
}

/*========================================
@MARGIN , PADDING & NO GUTTER SETUP
========================================*/

.mb0 { margin-bottom: 0px !important; }
.mb5 { margin-bottom: 5px; }
.mb10 { margin-bottom: 10px; }
.mb15 { margin-bottom: 15px; }
.mb20 { margin-bottom: 20px; }
.mb30 { margin-bottom: 30px; }
.mb40 { margin-bottom: 40px; }
.mb50 { margin-bottom: 50px; }
.mb60 { margin-bottom: 60px; }
.mb70 { margin-bottom: 70px; }
.mb80 { margin-bottom: 80px; }
.mb90 { margin-bottom: 80px; }
.mb100 { margin-bottom: 100px; }

.mr60{ margin-right: 60px; }

.ptd0{ padding: 0 !important; }
.ptd5{ padding: 5px 0 !important; }
.ptd10{ padding: 10px 0; }
.ptd15{ padding: 15px 0; }
.ptd20{ padding: 20px 0; }
.ptd30{ padding: 30px 0; }
.ptd40{ padding: 40px 0; }
.ptd50{ padding: 50px 0; }
.ptd60{ padding: 60px 0; }
.ptd70{ padding: 70px 0; }
.ptd80{ padding: 80px 0; }
.ptd90{ padding: 90px 0; }
.ptd100{ padding: 100px 0; }

.p30{ padding: 30px; }


.row.no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutter > [class*='col-'],
.row.no-gutter > [class*='col-'] > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
  position: inherit; }

.row.rw-10 {
  margin-right: -5px;
  margin-left: -5px; }

.row.rw-10 > [class*='col-'],
.row.rw-10 > [class*='col-'] > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
  position: inherit; }

/*========================================
@MIDDLE ALIGN SETUP
========================================*/

.table-dis{
  display: table;
  width: 100%;
  height: 100%;
  .table-cell-dis{
    display: table-cell;
    vertical-align: middle;
  }
}

/*========================================
@HEADING SETUP
========================================*/

h1,h2,h3,h4,h5{
  line-height: normal;
  margin: 0 0 20px;
  font-weight: normal;
  font-family: 'regular';
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

/*========================================
@LIST SETUP
========================================*/

ul{
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px;
  &.list-none{
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: inherit;
    line-height: normal;
    &.list-inline{
      li{
        display: inline-block;
        vertical-align: middle;
        padding: 0;
      }
    }
  }
  &.list-check{
    list-style: none;
    li{
      position: relative;
      margin-bottom: 10px;
      &:before{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 6px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f111";
//        color: $red;
        position: absolute;
        top: 10px;
        left: -25px;
      }
    }
  }
}

/*========================================
@PARAGRAPH SETUP
========================================*/

article{
  h1,h2,h3{
    font-family: 'bold';
    font-weight: normal;
  }
  h3{
//    color: $red;
  }
  h4{
    font-size: 21px;
    line-height: 28px;
  }
  p{
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
    &:last-child{
      margin: 0;
    }
  }
  ul{
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 20px;
    &:last-child{
      margin: 0;
    }
  }
}

p{
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px;
  &:last-child{
    margin: 0;
  }
}

/*========================================
@HYPERLINK SETUP
========================================*/

a{
//  color: $blacktext;
  color: $blue;
  text-decoration: none;
  outline: none;
  @include transition(all .3s);
  &:hover, &:focus{
//    color: #428bca;
    color: $purple;
    opacity: 1;
    text-decoration: none;
  }
}

/*========================================
@GENERAL SETUP
========================================*/

html,body{
  font-family: 'regular';
  font-size: 14px;
  line-height: normal;
  color: $blacktext;
  padding: 0;
  margin: 0;

  background-color: $bg;
}

.wrapper{
  @include transition(all .4s);
  @include transform(translate3d(0,0,0));
  padding-top: 85px;
  &.slide{
    @include transform(translate3d(-250px,0,0));
  }
}

/*========================================
@BUTTON SETUP
========================================*/

.btn{
  @include transition(all .3s);
  &:focus{
    outline: none;
  }
  &.btn-white{
    background-color: $white;
    color: $black;
    &.small{
      padding: 2px 5px 0;
    }
  }
  &.btn-blue{
    background-color: $blue;
    color: $white;
    padding: 6px 25px;
    &:hover{
      background-color: $purple;
    }
  }
  &.btn-transparent{
    color: $red;
  }
  &.btn-grey{
    background-color: #f4f4f4;
    border: 1px solid #dce1e5;
    &:hover{
      background-color: #dce1e5;
    }
  }
  &.btn-delete{
    background-color: $red;
    color: $white;
    padding: 2px 10px;
    &:hover{
      background-color: #b83429;
    }
  }
}

/*========================================
@TAGS SETUP
========================================*/

.tags{
  padding: 3px 10px;
  margin-right: 5px;
  border-radius: 20px;
  color: $white;
  &.tags-green{
    //    background: $green;
  }
}

/*========================================
@FORM SETUP
========================================*/

.form-control:hover,
.form-control:focus,
input:hover,input:focus,
textarea:hover,textarea:focus{
  -moz-transition: none;
  -webkit-transition: none;
  outline: none;
  @include shadow(none);
}

.checkbox{
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  min-height: 0;
  border: 1px solid #ddd;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0 !important;
  &:hover,&:focus,&:active{
    outline: none !important;
  }
  &:checked{
    outline: none;
    &:after{
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 1px;

      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 12px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c";
    }
  }
}

.form{
  input[type="text"],
  input[type="password"],.form-control{
    width: 100%;
    height: 42px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 10px;
    box-shadow: none;
    &.small{
      background-color: transparent;
      border: 0;
      height: auto;
      width: 150px;
      padding: 6px 0;
    }
    &:hover,&:focus{
      border-color: #ccc !important;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }
  textarea{
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 0;
    font-size: 14px;
    padding: 6px 10px;
    height: 128px;
    box-shadow: none;
    &:hover,&:focus{
      border-color: #ccc !important;
      outline: none;
      box-shadow: none;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
    }
  }

  .form-group{
    &.select{
      position: relative;
      select{
        -webkit-appearance: none;
        -moz-appearance: none;
      }
      i{
        &.fa-angle-down{
          font-size: 16px;
          position: absolute;
          top: 12px;
          right: 10px;
          pointer-events: none;
        }
      }
    }
  }

  .n_error-field{
    input{
      border-color: $red;
    }

    .n_error{
      padding: 5px 0;
      font-size: 12px;
      color: $red;
    }
  }
}

.wysihtml5-sandbox{
  padding: 20px 0 20px 20px !important;
  border: 0 !important;
  font-family: 'regular' !important;
  @include shadow(none !important);
  border-left: 5px solid #5375d9 !important;
  border-radius: 0 !important;
  height: auto !important;
  min-height: 500px !important;
}

/*========================================
@IMAGE SETUP
========================================*/

.img{
  .img-crcle{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    @include background-size(cover);
    &.img-small{
      width: 60px;
      height: 60px;
    }
    &.img-medium{
      width: 100px;
      height: 100px;
    }
    &.img-large{
      width: 200px;
      height: 200px;
    }
  }
}

/*========================================
@ELLIPSIS SETUP
========================================*/

$font-size: 21px;
$line-height: 1;
$lines-to-show-2: 2;
$lines-to-show-3: 3;

.elps-1-line{
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.elps-2-line{
  display: block;
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show-2;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.elps-3-line{
  display: block;
  display: -webkit-box;
  height: $font-size*$line-height*$lines-to-show-3;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/*========================================
@COVER SETUP
========================================*/

.cover{
  background-position: center;
  background-repeat: no-repeat;
  @include background-size(cover);
}

/*========================================
@HEADER SETUP
========================================*/

header{
  &.header{
    height: 85px;
    padding: 30px;

    background: linear-gradient(228deg, rgba(93,50,138,1) 40%, rgba(65,50,138,1) 60%);
    background: -webkit-linear-gradient(228deg, rgba(93,50,138,1) 40%, rgba(65,50,138,1) 60%);
    background: -moz-linear-gradient(228deg, rgba(93,50,138,1) 40%, rgba(65,50,138,1) 60%);
    background-size: 200% 200%;

    -webkit-animation: fadecolor 10s ease infinite;
    -moz-animation: fadecolor 10s ease infinite;
    animation: fadecolor 10s ease infinite;

    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    a{
      color: $white;
    }
    .n_comp{
      @media(max-width: 1200px) {
        padding-left: 40px;
        position: relative;
        .n_nav-xs{
          position: absolute;
          left: 0px;
          top: -3px;
          @media(max-width: 480px) {
            top: 10px;
            left: -10px;
          }
        }
      }
      @media(max-width: 480px){
        margin: -10px 0 0;
      }
      ul{
        li{
          padding-right: 10px;
        }
      }
    }
    .n_nav{
      padding-left: 40px;
      margin: -5px 0;
      nav{
        ul{
          li{
            a{
              display: block;
              padding: 10px;
              border-radius: 3px;
            }
            &:hover,&.active{
              a{
                background-color: $purple-hover;
              }
            }
          }
        }
      }
    }
    .n_users{
      a{
        display: block;
        padding: 10px 0;
        margin: -5px 0;
        i{
          margin-left: 10px;
        }
      }
      .dropdown-menu{
        min-width: 100px;
      }
    }
  }
  @-webkit-keyframes fadecolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-moz-keyframes fadecolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @-ms-keyframes fadecolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
  @keyframes fadecolor {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
  }
}

/*========================================
@FOOTER SETUP
========================================*/

footer{
  &.footer{
    padding: 30px;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    ul{
      li{
        line-height: 21px;
        &:last-child{
          padding-left: 10px;
        }
        a{
          color: $blacktext;
        }
      }
    }
  }
}

/*========================================
@DROPDOWN SETUP
========================================*/

.dropdown{
  .dropdown-menu{
    &.n_custom{
      margin: 0;
      @include shadow(none);
      border-color: #eee;
      border-bottom-width: 2px;
      font-family: 'regular';
      &:before {
        position: absolute;
        top: -7px;
        left: 20px;
        display: inline-block;
        border-right: 7px solid transparent;
        border-bottom: 7px solid #ddd;
        border-left: 7px solid transparent;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
      }

      &:after {
        position: absolute;
        top: -6px;
        left: 21px;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        border-left: 6px solid transparent;
        content: '';
      }
      li{
        display: block !important;
        a{
          display: block;
          padding: 5px 15px;
          border-radius: 0;
          margin: 0;
          background-color: transparent !important;
          color: $black !important;
        }
        &:hover,&.active{
          a{
            background-color: $purple !important;
            color: $white !important;
          }
        }
      }
      &.n_right{
        left: auto;
        right: -10px;
        &:before {
          left: auto;
          right: 9px;
        }
        &:after {
          left: auto;
          right: 10px;
        }
      }
    }
  }
}

/*========================================
@TITLEPAGE SETUP
========================================*/

.n_titlepage{
  background-color: $white;
  .col-sm-3.tar{
    @media(max-width: 767px) {
      margin-top: 10px;
      text-align: left;
    }
  }
}

/*========================================
@BX SETUP
========================================*/

.n_bx{
  background-color: $white;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

/*========================================
@ACTION SETUP
========================================*/

.n_action{
  li{
    font-size: 16px !important;
    width: 49.5%;
    padding: 7.5px 0 !important;
    @media(max-width: 480px) {
      width: 100%;
    }
    span{
      &:last-child{
        padding-left: 10px;
      }
    }
  }
}

/*========================================
@PUBLISHED SETUP
========================================*/

.n_published{
  li{
    &:last-child{
      width: 55%;
      margin-left: 10px;
      input{
        cursor: pointer;
      }
    }
  }
}

/*========================================
@URL POST SETUP
========================================*/

.n_url-post{
  ul{
    li{
      .form-control,.form-control:focus,.form-control:active,.form-control:hover{
        width: 300px !important;
        border-bottom: 1px solid #ccc !important;
        border-radius: 0;
        padding: 0 !important;
        font-size: 12px;
        line-height: normal;
        color: $blacktext !important;
      }
      &:first-child{
        padding-right: 10px;
      }
    }
  }
  span{
    &.nonactive{
      display: none;
    }
    &.active{
      display: block;
    }
  }
  .url-edit,.url-save{
    &.nonactive{
      display: none;
    }
    &.active{
      display: block;
    }
  }
}

/*========================================
@CKEDITOR SETUP
========================================*/

.cke_top{
  background-color: $white !important;
}
a.cke_button{
  padding: 3px 5px !important;
  background-color: $white !important;
  color: $blacksm !important;
  border-color: #ddd !important;
}
.cke_combo_button{
  height: 18px !important;
}
.cke_combo_arrow{
  margin: 5px 0 0!important;
}
.cke_combo_text{
  line-height: 17px !important;
}
.cke_bottom{
  display: none !important;
}
.cke_contents{
  border-color: #ddd !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 4px solid $blue !important;
  /* Let's get this party started */
}

.uneditable-input{
  border: 0;
  padding: 6px 10px 6px 0;
}
.fileupload-new .input-append .btn-file{
  border-radius: 4px;
}

/*========================================
@SCROLLBAR SETUP
========================================*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #ccc;
}

/*========================================
@NAV SETUP
========================================*/

.n_nav{
  @media (max-width: 1200px) {
    position: fixed;
    width: 180px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #23282d;
    padding: 20px 0 !important;
    margin: 0 !important;
    z-index: 999;

    @include transition(all .3s);
    @include transform(translate3d(-180px,0,0));
    &.open{
      @include transform(translate3d(0,0,0));
    }
    ul{
      li{
        display: block !important;
        font-size: 14px;
        font-family: 'regular';
        a{
          padding: 13px 10px !important;
          color: $white !important;
          border-radius: 0 !important;
        }
        &:hover,&.active{
          a{
            background-color: #0073A9 !important;
          }
        }
        &.dropdown{
          .dropdown-menu{
            position: relative;
            display: block;
            width: 100%;
            border: 0;
            padding: 5px 0;
            margin: 0 0 15px;
            background-color: #32373c;
            &:before,&:after{
              display: none !important;
            }
            li{
              font-size: 14px;
              a{
                color: $white !important;
                padding: 5px 10px !important;
              }
              &:hover,&.active{
                a{
                  background-color: transparent !important;
                  font-family: 'bold';
                }
              }
            }
          }
        }
      }
    }
  }
}

/*========================================
@FILTER TABLE SETUP
========================================*/

.n_filter-table{
  li{
    margin-right: 10px;
    @media(max-width: 767px) {
      display: block;
      margin-right: 0;
    }
    .form{
      @media(max-width: 767px) {
        display: block;
      }
      .form-group{
        @media(max-width: 767px) {
          display: inline-block;
          vertical-align: top;
          &:last-child{
            text-align: right;
          }
        }
      }
      .form-control{
        height: 34px;
        width: 150px;
        @media(max-width: 767px) {
          width: 130px;
        }
      }
      .select{
        i.fa-angle-down{
          top: 8px;
        }
      }
    }
  }
}

/*========================================
@TABLE SETUP
========================================*/

.table{
  &.n_custom{
    thead>tr>th{
      border-bottom: 1px solid #ddd;
      padding: 15px;
      font-family: 'bold';
      font-weight: normal;
      &.check{
        width: 40px;
      }
      &.title{
        max-width: 700px;
        min-width: 600px;
      }
    }
    tbody>tr{
      &:last-child{
        td{
          border: 0;
        }
      }
    }
    tbody>tr>td{
      border-bottom: 1px solid #ddd;
      padding: 15px;
      font-family: 'regular';
      font-weight: normal;
      vertical-align: middle;
      &.check{
        width: 40px;
      }
      &.title{
        max-width: 700px;
        min-width: 600px;
      }
    }
  }
}

/*========================================
@MODAL SETUP
========================================*/

body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom{
  margin-right: 0;
}

.modal-backdrop.in{
  opacity: .1;
}

.modal{
  &.n_confirm{
    .modal-dialog{
      padding-top: 100px;
      .modal-content{
        border-radius: 0;
        border-width: 1px 1px 2px 1px;
        max-width: 320px;
        margin: 0 auto;
        @include shadow(none);
        .modal-header{
          background-color: #ccc;
          h3{
            font-size: 18px;
          }
        }
      }
    }
  }
}