/* ==========================================
RESET BOOTSTRAP
========================================== */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*========================================
@MIXIN SETUP
========================================*/
/*========================================
@COLOR VARIABLE
========================================*/
.bg_grey {
  background-color: #fcfdfd; }

.b_left {
  border-left: 1px solid #ddd; }
  @media (max-width: 767px) {
    .b_left {
      border-left: 0; } }

.b_bottom {
  border-bottom: 1px solid #ddd; }

.c_greyblue {
  color: #b0bec5; }

/*========================================
@FONT & ALIGN SETUP
========================================*/
.reg {
  font-family: 'regular';
  font-weight: normal; }

.str, b, strong {
  font-family: 'bold';
  font-weight: normal; }

.lgt {
  font-family: 'light';
  font-weight: normal; }

.smb {
  font-family: 'semibold';
  font-weight: normal; }

.tau {
  text-transform: uppercase; }

.tal {
  text-align: left; }

.tac {
  text-align: center; }

.tar {
  text-align: right; }

.s120 {
  font-size: 120px; }

.s60 {
  font-size: 60px; }

.s48 {
  font-size: 48px; }

.s46 {
  font-size: 46px; }

.s42 {
  font-size: 42px; }

.s36 {
  font-size: 36px; }

.s34 {
  font-size: 34px; }

.s32 {
  font-size: 32px; }

.s28 {
  font-size: 28px; }

.s26 {
  font-size: 26px; }

.s24 {
  font-size: 24px; }

.s21 {
  font-size: 21px !important;
  line-height: 30px; }

.s18 {
  font-size: 18px;
  line-height: 26px; }

.s16 {
  font-size: 16px;
  line-height: 24px; }

.s14 {
  font-size: 14px;
  line-height: 21px; }

.s12 {
  font-size: 12px;
  line-height: 18px; }

.s11 {
  font-size: 11px; }

.lh32 {
  line-height: 32px; }

.lh24 {
  line-height: 24px; }

label, .label {
  font-family: 'regular';
  font-weight: normal;
  margin: 0 0 10px !important;
  cursor: pointer;
  display: block; }

hr {
  border-color: #cfd8dc;
  margin-bottom: 40px; }

/*========================================
@MARGIN , PADDING & NO GUTTER SETUP
========================================*/
.mb0 {
  margin-bottom: 0px !important; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.mb30 {
  margin-bottom: 30px; }

.mb40 {
  margin-bottom: 40px; }

.mb50 {
  margin-bottom: 50px; }

.mb60 {
  margin-bottom: 60px; }

.mb70 {
  margin-bottom: 70px; }

.mb80 {
  margin-bottom: 80px; }

.mb90 {
  margin-bottom: 80px; }

.mb100 {
  margin-bottom: 100px; }

.mr60 {
  margin-right: 60px; }

.ptd0 {
  padding: 0 !important; }

.ptd5 {
  padding: 5px 0 !important; }

.ptd10 {
  padding: 10px 0; }

.ptd15 {
  padding: 15px 0; }

.ptd20 {
  padding: 20px 0; }

.ptd30 {
  padding: 30px 0; }

.ptd40 {
  padding: 40px 0; }

.ptd50 {
  padding: 50px 0; }

.ptd60 {
  padding: 60px 0; }

.ptd70 {
  padding: 70px 0; }

.ptd80 {
  padding: 80px 0; }

.ptd90 {
  padding: 90px 0; }

.ptd100 {
  padding: 100px 0; }

.p30 {
  padding: 30px; }

.row.no-gutter {
  margin-right: 0;
  margin-left: 0; }

.row.no-gutter > [class*='col-'],
.row.no-gutter > [class*='col-'] > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
  position: inherit; }

.row.rw-10 {
  margin-right: -5px;
  margin-left: -5px; }

.row.rw-10 > [class*='col-'],
.row.rw-10 > [class*='col-'] > [class*='col-'] {
  padding-right: 5px;
  padding-left: 5px;
  position: inherit; }

/*========================================
@MIDDLE ALIGN SETUP
========================================*/
.table-dis {
  display: table;
  width: 100%;
  height: 100%; }
  .table-dis .table-cell-dis {
    display: table-cell;
    vertical-align: middle; }

/*========================================
@HEADING SETUP
========================================*/
h1, h2, h3, h4, h5 {
  line-height: normal;
  margin: 0 0 20px;
  font-weight: normal;
  font-family: 'regular'; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 21px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h4 {
  font-size: 14px; }

/*========================================
@LIST SETUP
========================================*/
ul {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px; }
  ul.list-none {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: inherit;
    line-height: normal; }
    ul.list-none.list-inline li {
      display: inline-block;
      vertical-align: middle;
      padding: 0; }
  ul.list-check {
    list-style: none; }
    ul.list-check li {
      position: relative;
      margin-bottom: 10px; }
      ul.list-check li:before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 6px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f111";
        position: absolute;
        top: 10px;
        left: -25px; }

/*========================================
@PARAGRAPH SETUP
========================================*/
article h1, article h2, article h3 {
  font-family: 'bold';
  font-weight: normal; }
article h4 {
  font-size: 21px;
  line-height: 28px; }
article p {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px; }
  article p:last-child {
    margin: 0; }
article ul {
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px; }
  article ul:last-child {
    margin: 0; }

p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 20px; }
  p:last-child {
    margin: 0; }

/*========================================
@HYPERLINK SETUP
========================================*/
a {
  color: #5375d9;
  text-decoration: none;
  outline: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  a:hover, a:focus {
    color: #5d328a;
    opacity: 1;
    text-decoration: none; }

/*========================================
@GENERAL SETUP
========================================*/
html, body {
  font-family: 'regular';
  font-size: 14px;
  line-height: normal;
  color: #222;
  padding: 0;
  margin: 0;
  background-color: #f6fafc; }

.wrapper {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  padding-top: 85px; }
  .wrapper.slide {
    transform: translate3d(-250px, 0, 0);
    -webkit-transform: translate3d(-250px, 0, 0);
    -moz-transform: translate3d(-250px, 0, 0);
    -ms-transform: translate3d(-250px, 0, 0);
    -o-transform: translate3d(-250px, 0, 0); }

/*========================================
@BUTTON SETUP
========================================*/
.btn {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s; }
  .btn:focus {
    outline: none; }
  .btn.btn-white {
    background-color: #fff;
    color: #000; }
    .btn.btn-white.small {
      padding: 2px 5px 0; }
  .btn.btn-blue {
    background-color: #5375d9;
    color: #fff;
    padding: 6px 25px; }
    .btn.btn-blue:hover {
      background-color: #5d328a; }
  .btn.btn-transparent {
    color: #ea4335; }
  .btn.btn-grey {
    background-color: #f4f4f4;
    border: 1px solid #dce1e5; }
    .btn.btn-grey:hover {
      background-color: #dce1e5; }
  .btn.btn-delete {
    background-color: #ea4335;
    color: #fff;
    padding: 2px 10px; }
    .btn.btn-delete:hover {
      background-color: #b83429; }

/*========================================
@TAGS SETUP
========================================*/
.tags {
  padding: 3px 10px;
  margin-right: 5px;
  border-radius: 20px;
  color: #fff; }

/*========================================
@FORM SETUP
========================================*/
.form-control:hover,
.form-control:focus,
input:hover, input:focus,
textarea:hover, textarea:focus {
  -moz-transition: none;
  -webkit-transition: none;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none; }

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 15px;
  height: 15px;
  min-height: 0;
  border: 1px solid #ddd;
  cursor: pointer;
  outline: none;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 0 !important; }
  .checkbox:hover, .checkbox:focus, .checkbox:active {
    outline: none !important; }
  .checkbox:checked {
    outline: none; }
    .checkbox:checked:after {
      position: absolute;
      width: 100%;
      height: 100%;
      text-align: center;
      padding-top: 1px;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 12px;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      content: "\f00c"; }

.form input[type="text"],
.form input[type="password"], .form .form-control {
  width: 100%;
  height: 42px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  padding: 6px 10px;
  box-shadow: none; }
  .form input[type="text"].small,
  .form input[type="password"].small, .form .form-control.small {
    background-color: transparent;
    border: 0;
    height: auto;
    width: 150px;
    padding: 6px 0; }
  .form input[type="text"]:hover, .form input[type="text"]:focus,
  .form input[type="password"]:hover,
  .form input[type="password"]:focus, .form .form-control:hover, .form .form-control:focus {
    border-color: #ccc !important;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
.form textarea {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 0;
  font-size: 14px;
  padding: 6px 10px;
  height: 128px;
  box-shadow: none; }
  .form textarea:hover, .form textarea:focus {
    border-color: #ccc !important;
    outline: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
.form .form-group.select {
  position: relative; }
  .form .form-group.select select {
    -webkit-appearance: none;
    -moz-appearance: none; }
  .form .form-group.select i.fa-angle-down {
    font-size: 16px;
    position: absolute;
    top: 12px;
    right: 10px;
    pointer-events: none; }
.form .n_error-field input {
  border-color: #ea4335; }
.form .n_error-field .n_error {
  padding: 5px 0;
  font-size: 12px;
  color: #ea4335; }

.wysihtml5-sandbox {
  padding: 20px 0 20px 20px !important;
  border: 0 !important;
  font-family: 'regular' !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  border-left: 5px solid #5375d9 !important;
  border-radius: 0 !important;
  height: auto !important;
  min-height: 500px !important; }

/*========================================
@IMAGE SETUP
========================================*/
.img .img-crcle {
  display: block;
  border-radius: 50%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }
  .img .img-crcle.img-small {
    width: 60px;
    height: 60px; }
  .img .img-crcle.img-medium {
    width: 100px;
    height: 100px; }
  .img .img-crcle.img-large {
    width: 200px;
    height: 200px; }

/*========================================
@ELLIPSIS SETUP
========================================*/
.elps-1-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%; }

.elps-2-line {
  display: block;
  display: -webkit-box;
  height: 42px;
  overflow: hidden;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; }

.elps-3-line {
  display: block;
  display: -webkit-box;
  height: 63px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; }

/*========================================
@COVER SETUP
========================================*/
.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

/*========================================
@HEADER SETUP
========================================*/
header.header {
  height: 85px;
  padding: 30px;
  background: linear-gradient(228deg, #5d328a 40%, #41328a 60%);
  background: -webkit-linear-gradient(228deg, #5d328a 40%, #41328a 60%);
  background: -moz-linear-gradient(228deg, #5d328a 40%, #41328a 60%);
  background-size: 200% 200%;
  -webkit-animation: fadecolor 10s ease infinite;
  -moz-animation: fadecolor 10s ease infinite;
  animation: fadecolor 10s ease infinite;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99; }
  header.header a {
    color: #fff; }
  @media (max-width: 1200px) {
    header.header .n_comp {
      padding-left: 40px;
      position: relative; }
      header.header .n_comp .n_nav-xs {
        position: absolute;
        left: 0px;
        top: -3px; } }
    @media (max-width: 1200px) and (max-width: 480px) {
      header.header .n_comp .n_nav-xs {
        top: 10px;
        left: -10px; } }

  @media (max-width: 480px) {
    header.header .n_comp {
      margin: -10px 0 0; } }
  header.header .n_comp ul li {
    padding-right: 10px; }
  header.header .n_nav {
    padding-left: 40px;
    margin: -5px 0; }
    header.header .n_nav nav ul li a {
      display: block;
      padding: 10px;
      border-radius: 3px; }
    header.header .n_nav nav ul li:hover a, header.header .n_nav nav ul li.active a {
      background-color: #654796; }
  header.header .n_users a {
    display: block;
    padding: 10px 0;
    margin: -5px 0; }
    header.header .n_users a i {
      margin-left: 10px; }
  header.header .n_users .dropdown-menu {
    min-width: 100px; }
@-webkit-keyframes fadecolor {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-moz-keyframes fadecolor {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@-ms-keyframes fadecolor {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes fadecolor {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
/*========================================
@FOOTER SETUP
========================================*/
footer.footer {
  padding: 30px;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0; }
  footer.footer ul li {
    line-height: 21px; }
    footer.footer ul li:last-child {
      padding-left: 10px; }
    footer.footer ul li a {
      color: #222; }

/*========================================
@DROPDOWN SETUP
========================================*/
.dropdown .dropdown-menu.n_custom {
  margin: 0;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  border-color: #eee;
  border-bottom-width: 2px;
  font-family: 'regular'; }
  .dropdown .dropdown-menu.n_custom:before {
    position: absolute;
    top: -7px;
    left: 20px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ddd;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: ''; }
  .dropdown .dropdown-menu.n_custom:after {
    position: absolute;
    top: -6px;
    left: 21px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: ''; }
  .dropdown .dropdown-menu.n_custom li {
    display: block !important; }
    .dropdown .dropdown-menu.n_custom li a {
      display: block;
      padding: 5px 15px;
      border-radius: 0;
      margin: 0;
      background-color: transparent !important;
      color: #000 !important; }
    .dropdown .dropdown-menu.n_custom li:hover a, .dropdown .dropdown-menu.n_custom li.active a {
      background-color: #5d328a !important;
      color: #fff !important; }
  .dropdown .dropdown-menu.n_custom.n_right {
    left: auto;
    right: -10px; }
    .dropdown .dropdown-menu.n_custom.n_right:before {
      left: auto;
      right: 9px; }
    .dropdown .dropdown-menu.n_custom.n_right:after {
      left: auto;
      right: 10px; }

/*========================================
@TITLEPAGE SETUP
========================================*/
.n_titlepage {
  background-color: #fff; }
  @media (max-width: 767px) {
    .n_titlepage .col-sm-3.tar {
      margin-top: 10px;
      text-align: left; } }

/*========================================
@BX SETUP
========================================*/
.n_bx {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden; }

/*========================================
@ACTION SETUP
========================================*/
.n_action li {
  font-size: 16px !important;
  width: 49.5%;
  padding: 7.5px 0 !important; }
  @media (max-width: 480px) {
    .n_action li {
      width: 100%; } }
  .n_action li span:last-child {
    padding-left: 10px; }

/*========================================
@PUBLISHED SETUP
========================================*/
.n_published li:last-child {
  width: 55%;
  margin-left: 10px; }
  .n_published li:last-child input {
    cursor: pointer; }

/*========================================
@URL POST SETUP
========================================*/
.n_url-post ul li .form-control, .n_url-post ul li .form-control:focus, .n_url-post ul li .form-control:active, .n_url-post ul li .form-control:hover {
  width: 300px !important;
  border-bottom: 1px solid #ccc !important;
  border-radius: 0;
  padding: 0 !important;
  font-size: 12px;
  line-height: normal;
  color: #222 !important; }
.n_url-post ul li:first-child {
  padding-right: 10px; }
.n_url-post span.nonactive {
  display: none; }
.n_url-post span.active {
  display: block; }
.n_url-post .url-edit.nonactive, .n_url-post .url-save.nonactive {
  display: none; }
.n_url-post .url-edit.active, .n_url-post .url-save.active {
  display: block; }

/*========================================
@CKEDITOR SETUP
========================================*/
.cke_top {
  background-color: #fff !important; }

a.cke_button {
  padding: 3px 5px !important;
  background-color: #fff !important;
  color: #777 !important;
  border-color: #ddd !important; }

.cke_combo_button {
  height: 18px !important; }

.cke_combo_arrow {
  margin: 5px 0 0 !important; }

.cke_combo_text {
  line-height: 17px !important; }

.cke_bottom {
  display: none !important; }

.cke_contents {
  border-color: #ddd !important;
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 4px solid #5375d9 !important;
  /* Let's get this party started */ }

.uneditable-input {
  border: 0;
  padding: 6px 10px 6px 0; }

.fileupload-new .input-append .btn-file {
  border-radius: 4px; }

/*========================================
@SCROLLBAR SETUP
========================================*/
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background-color: #fff; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc; }

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #ccc; }

/*========================================
@NAV SETUP
========================================*/
@media (max-width: 1200px) {
  .n_nav {
    position: fixed;
    width: 180px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #23282d;
    padding: 20px 0 !important;
    margin: 0 !important;
    z-index: 999;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transform: translate3d(-180px, 0, 0);
    -webkit-transform: translate3d(-180px, 0, 0);
    -moz-transform: translate3d(-180px, 0, 0);
    -ms-transform: translate3d(-180px, 0, 0);
    -o-transform: translate3d(-180px, 0, 0); }
    .n_nav.open {
      transform: translate3d(0, 0, 0);
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0); }
    .n_nav ul li {
      display: block !important;
      font-size: 14px;
      font-family: 'regular'; }
      .n_nav ul li a {
        padding: 13px 10px !important;
        color: #fff !important;
        border-radius: 0 !important; }
      .n_nav ul li:hover a, .n_nav ul li.active a {
        background-color: #0073A9 !important; }
      .n_nav ul li.dropdown .dropdown-menu {
        position: relative;
        display: block;
        width: 100%;
        border: 0;
        padding: 5px 0;
        margin: 0 0 15px;
        background-color: #32373c; }
        .n_nav ul li.dropdown .dropdown-menu:before, .n_nav ul li.dropdown .dropdown-menu:after {
          display: none !important; }
        .n_nav ul li.dropdown .dropdown-menu li {
          font-size: 14px; }
          .n_nav ul li.dropdown .dropdown-menu li a {
            color: #fff !important;
            padding: 5px 10px !important; }
          .n_nav ul li.dropdown .dropdown-menu li:hover a, .n_nav ul li.dropdown .dropdown-menu li.active a {
            background-color: transparent !important;
            font-family: 'bold'; } }

/*========================================
@FILTER TABLE SETUP
========================================*/
.n_filter-table li {
  margin-right: 10px; }
  @media (max-width: 767px) {
    .n_filter-table li {
      display: block;
      margin-right: 0; } }
  @media (max-width: 767px) {
    .n_filter-table li .form {
      display: block; } }
  @media (max-width: 767px) {
    .n_filter-table li .form .form-group {
      display: inline-block;
      vertical-align: top; }
      .n_filter-table li .form .form-group:last-child {
        text-align: right; } }
  .n_filter-table li .form .form-control {
    height: 34px;
    width: 150px; }
    @media (max-width: 767px) {
      .n_filter-table li .form .form-control {
        width: 130px; } }
  .n_filter-table li .form .select i.fa-angle-down {
    top: 8px; }

/*========================================
@TABLE SETUP
========================================*/
.table.n_custom thead > tr > th {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  font-family: 'bold';
  font-weight: normal; }
  .table.n_custom thead > tr > th.check {
    width: 40px; }
  .table.n_custom thead > tr > th.title {
    max-width: 700px;
    min-width: 600px; }
.table.n_custom tbody > tr:last-child td {
  border: 0; }
.table.n_custom tbody > tr > td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  font-family: 'regular';
  font-weight: normal;
  vertical-align: middle; }
  .table.n_custom tbody > tr > td.check {
    width: 40px; }
  .table.n_custom tbody > tr > td.title {
    max-width: 700px;
    min-width: 600px; }

/*========================================
@MODAL SETUP
========================================*/
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 0; }

.modal-backdrop.in {
  opacity: .1; }

.modal.n_confirm .modal-dialog {
  padding-top: 100px; }
  .modal.n_confirm .modal-dialog .modal-content {
    border-radius: 0;
    border-width: 1px 1px 2px 1px;
    max-width: 1620px;
    margin: 0 auto;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none; }
    .modal.n_confirm .modal-dialog .modal-content .modal-header {
      background-color: #ccc; }
      .modal.n_confirm .modal-dialog .modal-content .modal-header h3 {
        font-size: 18px; }

/*# sourceMappingURL=base.css.map */
