@font-face {
    font-family: 'regular';
    src: url('../fonts/proximanova-regular.eot');
    src: url('../fonts/proximanova-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova-regular.woff') format('woff'),
    url('../fonts/proximanova-regular.ttf') format('truetype'),
    url('../fonts/proximanova-regular.svg#proximanova-regular') format('svg');
}

@font-face {
    font-family: 'bold';
    src: url('../fonts/proximanova-bold.eot?') format('eot'),
        /*url('../fonts/proximanova-bold.otf')  format('opentype'),*/
    url('../fonts/proximanova-bold.woff') format('woff'),
    url('../fonts/proximanova-bold.ttf')  format('truetype'),
    url('../fonts/proximanova-bold.svg#proximanova-bold') format('svg');
}

@font-face {
    font-family: 'semibold';
    src: url('../fonts/proximanova-semibold-webfont.eot?') format('eot'),
    url('../fonts/proximanova-semibold-webfont.otf')  format('opentype'),
    url('../fonts/proximanova-semibold-webfont.woff') format('woff'),
    url('../fonts/proximanova-semibold-webfont.ttf')  format('truetype'),
    url('../fonts/proximanova-semibold-webfont.svg#GothamRounded-Medium') format('svg');
}

@font-face {
    font-family: 'light';
    src: url('../fonts/proximanova-light.eot?') format('eot'),
    url('../fonts/proximanova-light.otf')  format('opentype'),
    url('../fonts/proximanova-light.woff') format('woff'),
    url('../fonts/proximanova-light.woff2') format('woff2'),
    url('../fonts/proximanova-light.ttf')  format('truetype'),
    url('../fonts/proximanova-light.svg#proximanova-light') format('svg');
}