@media (min-width:992px) and (max-width:1200px) {

.n_login .s16{
    font-size: 14px;
    line-height: 18px;
}

}

@media (min-width:768px) and (max-width:992px) {

}

@media (max-width:767px) {

.n_login .s16{
    font-size: 14px;
    line-height: 18px;
}

}
